.bg-top-banner{
    background-color: #fceae8;
}
.ctgry-img img{
    width: 100px;
}
.bg-watch{
    background-color: orange;
    border-radius: 10px;
}
.bg-bag{
    background-color: orchid;
    border-radius: 10px;
}
.bg-shoe{
    background-color: blue;
    border-radius: 10px;
}
.shadow{
    box-shadow: 5px 5px 10px lightgrey;
}
.link-buttons{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.h1-color{
    color: #ff136f;
}